Source: ros-kinetic-rosduct
Section: misc
Priority: extra
Maintainer: Marc Hanheide <marc@hanheide.net>
Build-Depends: debhelper (>= 9.0.0), python-pydispatcher, python-ws4py, ros-kinetic-catkin, ros-kinetic-message-generation, ros-kinetic-rospy, ros-kinetic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-rosduct
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-pydispatcher, python-ws4py, ros-kinetic-message-runtime, ros-kinetic-rospy, ros-kinetic-std-msgs
Description: ROSduct, the duct of ROS messages.
 ROSduct acts as a proxy to expose ROS topics, services and parameters from a remote roscore into a local roscore via the [rosbridge protocol](https://github.com/RobotWebTools/rosbridge_suite/blob/develop/ROSBRIDGE_PROTOCOL.md).
